* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.l1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    font-size: 20px;
    /* text-transform: uppercase; */
    letter-spacing: 4px;
}

.logo-image {
    max-width: 4.4rem;
    border-radius: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    height: 8vh;
    background: #333333;
    /* background: #c97575; */
}

main {
    background: #003366 no-repeat center center;
    background-size: cover;
    height: 92vh;
    color: #fff;

}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 100%; 
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: none;
  }
  
  .carousel-slide.active {
    display: block;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
    visibility: hidden;
  }
  
  .carousel-navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
  }
  
  .carousel-navigation .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
  }
  
  .carousel-navigation .dot.active {
    background-color: #555;
  }

@media (max-width: 780px) {

    .logo {
        font-size: 20px;
        /* text-transform: uppercase; */
        letter-spacing: 4px;
    }
    
    .logo-image {
        max-width: 4.4rem;
        border-radius: 100%;
        height: auto;
    }

    .carousel {
        position: relative;
        width: 100%;
        max-width: 100%; /* Ajuste o valor conforme necessário */
        height: auto;
        margin: 0 auto;
        overflow: hidden;
      }
      
      .carousel-slide {
        display: none;
      }
      
      .carousel-slide.active {
        display: block;
      }
      
      .carousel-slide img {
        width: 100%;
        height: auto;
        visibility: visible;
      }
      
      .carousel-navigation {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1; /* Coloca as bolinhas acima da imagem */
      }
      
      .carousel-navigation .dot {
        width: 10px;
        height: 10px;
        background-color: #bbb;
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;
      }
      
      .carousel-navigation .dot.active {
        background-color: #555;
      }
      
    
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        align-items: center;
        background: #333333;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 3;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}
    .nav-list.active {
        transform: translateX(0);
    }

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

