* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    height: 8vh;
    background: #333333;
    /* background: #c97575; */
}

main {
    background: #003366 no-repeat center center;
    background-size: cover;
    height: 92vh;
    color: #fff;
    margin-bottom: -13vh;
    overflow-y: hidden;
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.carousel {
  
    display: none;
    position: relative;
    width: 100%;
    max-width: 100%; 
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    visibility: hidden;
  }
  
  .carousel-slide {
    display: none;
  }
  
  .carousel-slide.active {
    display: block;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  .carousel-navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
  }
  
  .carousel-navigation .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    visibility: hidden;
  }
  
  .carousel-navigation .dot.active {
    background-color: #555;
  }  

  .info {
    visibility: hidden;
  }

  .banner {
    display: flex;
    width: auto;
    height: auto;
    /* position: relative; */
    visibility: visible;
    margin-top: 10px;
    justify-content: center;
  }





@media (max-width: 780px) {

  main {
    margin-bottom: 0.9vh;
  }

  .banner {
    visibility: hidden;
    position: absolute;
  }

  .info {
    position: absolute;
    bottom: 73%;
    left: 10%;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: left;
    align-items: left;
    visibility: visible;
    z-index: 1;
  }
  .carousel .carousel-slide h2 {
    color: #fff;
    /* background: #0000003f; */
  }

  .carousel .carousel-slide p {
    /* background: #00ccff62; */
  }

    .logo {
        font-size: 20px;
        /* text-transform: uppercase; */
        letter-spacing: 4px;
    }
    
    .logo-image {
        max-width: 4.4rem;
        border-radius: 100%;
        height: auto;
    }

    .carousel {
        position: relative;
        width: 100%;
        max-width: 100%; /* Ajuste o valor conforme necessário */
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        display: inline;
      }
      
      .carousel-slide {
        display: none;
      }
      
      .carousel-slide.active {
        display: block;
      }
      
      .carousel-slide img {
        width: 100%;
        height: auto;
        visibility: visible;
      }
      
      .carousel-navigation {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1; /* Coloca as bolinhas acima da imagem */
      }
      
      .carousel-navigation .dot {
        width: 10px;
        height: 10px;
        background-color: #00ccff69;
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;
        visibility: visible;
      }
      
      .carousel-navigation .dot.active {
        background-color: #555;
      }
      
    
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        align-items: center;
        background: #333333;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 3;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}
    .nav-list.active {
        transform: translateX(0);
    }

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}



.carousel2 {
  display: none;
}

@media (min-width: 780px) {

  .carousel2 {
    overflow-y: hidden;
    display: flex;
    margin-top: 10px;
    margin: 0;
    width: 100%;
    height: 85%;
    overflow: hidden;
    position: relative;
    /* background-color: #ffffff; */
    background-image: url(./Images/texture/texture.png);
    background-size: 50%;
    background-repeat: repeat;
    background-position: center;
  }

  .carousel2 .carousel2-slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

  .carousel2 .carousel2-slide.active {
    display: flex;
    align-items: center;
    justify-content: center;    
    opacity: 1;
  }

  .carousel2 .carousel2-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel2-navigation {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .carousel2-arrow {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
    text-transform: uppercase;
    border-radius: 10px;
  }

  .acolor {
    color: #67a7af8e;
  }
  
  .carousel2-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .linha {
    display: flex;
    height: 0.2rem;
    margin-top: 0;
    background: #fff;
  }
  
}

@media (min-width: 1700px) {
  
}

.about-style {
  overflow-y: hidden;
  width: 100%;
  background-color: #b30e52;
  height: 500px;
  display: flex;
}